{% extends "templates/base.html" %}
{% block :content %}
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Kreeda</a>
      </div>
    </div>
  </header>
  <div class="main container">
    <br/>
    {% if current-user %}
    <h3>Logged in as {{current-user.name}}</h3>
    {% else %}
    <a href="/auth/github">Sign in with Github</a>
    {% endif %}
  </div>
{% endblock %}

